$color_primary: #bada55;
$color_secondary: #B3D13D;

$grey3: #686968;
$grey2: #A3A79B;
$grey2: #CECECD;

$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: $grey2;
$color__text-input-focus: $grey3;
$color__link: $grey3;
$color__link-visited: $grey3;
$color__link-hover: $grey2;
$color__text-main:  $grey3;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: $grey3;


/*=============================================
=            Bulma colors                    =
=============================================*/

$primary : $color_primary;
$secondary: $color_secondary;

/*=====  End of Bulma colors          ======*/

